.message 
{
    max-width: 50%;
    display: flex;
    gap: 1px;
    flex-direction: column;
    word-break: break-all;
}

.messageContent
{
    background-color: red;
    padding: 8px;
    font-size: 12px;
    color: white;
    border-radius: 10px;
}

.messageAuthor
{
    padding-left: 5px;
    font-size: 8px;
    font-weight: 500;
}

.myMessage 
{
    background-color: green;
}

.theirMessage 
{
    background-color: red;
}
