.userSettingsModal
{
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.modal-actions
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}